<div class="box-shadow p-4 mt-5" style="text-align: center;">
    <div class="d-flex justify-content-between" style="text-align: center;">
      <div style="margin-top: 15px"><h4>Результаты поиска по запросу "{{ product_search }}"</h4></div>
      <div class="d-flex">
          <nav class="navbar-expand-lg navbar-light">
           <div class="container-fluid">
              <ul class="navbar-nav">
                  <li class="nav-item p-2" style="text-align: center">
                      <a class="nav-link" href="#" data-mdb-toggle="modal" data-mdb-target="#сategoriesModal">
                          <span class="badge badge-pill bg-danger"></span>
                          <span><i class="fas fa-cubes"></i></span>
                          <span>Категории</span>
                      </a>
                  </li>

                      <!-- Modal -->
                        <div class="modal fade" id="сategoriesModal" tabindex="-1" aria-labelledby="сategoriesModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="сategoriesModalLabel">Категории</h5>
                                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                  {% for categorie in categories %}
                                   <div class="form-check">
                                       <input class="form-check-input" type="radio" name="flexRadioDefault" value="" id="{{ categorie }}">
                                       <label style="float: left;" class="form-check-label" for="{{ categorie }}">
                                           {{ categorie }}
                                       </label>
                                   </div>
                                   {% endfor %}
                              </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-mdb-dismiss="modal">Применить ко всем магазинам</button>
                                    <button type="button" class="btn btn-primary" data-mdb-dismiss="modal">Применить</button>
                                </div>
                            </div>
                          </div>
                        </div>

                  <li class="nav-item p-2" style="text-align: center">
                      <a class="nav-link" href="#" data-mdb-toggle="modal" data-mdb-target="#filtersModal">
                          <span class="badge badge-pill bg-danger"></span>
                          <span><i class="fas fa-filter"></i></span>
                          <span>Фильтры</span>
                      </a>
                  </li>

              <!-- Modal -->
                        <div class="modal fade" id="filtersModal" tabindex="-1" aria-labelledby="filtersModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="filtersModalLabel">Фильтры</h5>
                                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                  {% for filter in filters %}
                                   <div class="form-check">
                                       <input class="form-check-input" type="radio" name="flexRadioDefault" value="" id="{{ filter }}">
                                       <label style="float: left;" class="form-check-label" for="{{ filter }}">
                                           {{ filter }}
                                       </label>
                                   </div>
                                   {% endfor %}
                              </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-mdb-dismiss="modal">Применить ко всем магазинам</button>
                                    <button type="button" class="btn btn-primary" data-mdb-dismiss="modal">Применить</button>
                                </div>
                            </div>
                          </div>
                        </div>

               <li class="nav-item p-2" style="text-align: center">
                       <span class="nav-link" style="margin-right: -25px;">Сортировка</span>
               </li>

              <li class="nav-item p-2" style="text-align: center; margin-top: -7px;">
                       <span class="nav-link">
                           <select class="form-select" aria-label="Default select example">
                              <option selected>Популярное</option>
                              <option value="1">Подешевле</option>
                              <option value="2">Подороже</option>
                              <option value="3">С высоким рейтингом</option>
                           </select>
                       </span>
               </li>
              </ul>
          </div>
        </nav>
            </div>
        </div>
        <hr>
        <div class="d-flex justify-content-center">
          <div style="border-radius: 10px">
              <img style="width: 45%; padding: 20px; justify-content: center;" src="{{ img }}">
                <div class="d-flex flex-wrap" style="justify-content: center;">
                    {% for product in result_parser %}
                       <div class="card" style="width: 255px; margin: 15px; padding: 20px;">
                       <span style="cursor: pointer; margin-left: 190px;padding: 5px"><i class="far fa-heart fa-lg"></i></span>
                              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                                    <img src="{{ product.image }}" class="img-fluid"/>
                                    <a href="{{ product.link }}" target="_blank">
                                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                    </a>
                              </div>
                              <div class="card-body" style="padding: 0;display: flex;flex-direction: column;justify-content: space-between;">
                                <h5 class="card-title">{{ product.brand_name }}</h5>
                                <p class="card-text">{{ product.goods_name }}</p>
                                  <h5 class="card-title">Цена: {{ product.price }}</h5>
                                <div class="d-flex justify-content-between">
                                    <a href="{{ product.link }}" target="_blank" class="btn btn-primary">Перейти к товару</a>
                                    <span style="padding: 8px; cursor: pointer; z-index: 999"><i class="fas fa-cart-plus fa-lg"></i></span>
                                </div>
                              </div>
                       </div>
                    {% endfor %}
                </div>
              <nav style="padding: 10px;">
                  <ul class="pagination pagination-circle" style="justify-content: center;">
                      <a class="page-link" href="#"><i class="fas fa-angle-left"></i></a>
                        <li class="page-item active">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item">
                          <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">...</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">30</a>
                        </li>
                      <a class="page-link" href="#"><i class="fas fa-angle-right"></i></a>
                  </ul>
                  <i class="fas fa-arrows-alt fa-2x" style="float: right; margin-top: -50px; cursor: pointer"></i>
            </nav>
          </div>
        </div>
</div>
