<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>ParserShop</title>
    <link rel="shortcut icon" href="{{ form.data.image_link }}" type="image/x-icon">


    <!-- Font Awesome -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />
    <!-- MDB -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.1.0/mdb.min.css"
      rel="stylesheet"
    />

    <!-- MDB -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.1.0/mdb.min.js"
    ></script>


    <style>
       .disable_cursor {
           pointer-events: none;
       }
       .disable{
           display: None;
       }
       .bg-light {
        background-color: white!important;
        }
       @media (max-width: 992px) {
           .navbar-nav {
            flex-direction: row;
}
       }
       .box-shadow{
        -webkit-box-shadow: 1px 0px 13px -2px rgba(34, 60, 80, 0.27);
        -moz-box-shadow: 1px 0px 13px -2px rgba(34, 60, 80, 0.27);
        box-shadow: 1px 0px 13px -2px rgba(34, 60, 80, 0.27);
    }
    </style>
</head>

<body>

<div class="Validations" style="position: fixed; z-index: 99; margin-left: 5px;">
    <div id="ErrorContent" class="disable">
        <p class="note note-danger mt-2 ">
            <strong>Ошибка:<br></strong>Ошибка
            <strong>
                <i id="target_error_icon" class="fas fa-times" style="margin-left: 30px; float: right; cursor: pointer"></i>
            </strong>
        </p>
    </div>

    <div id="WarningsContent" class="disable">
        <p class="note note-warning mt-2 ">
          <strong>Предупреждение:<br></strong>
            Нажмите на кнопку
                    <button type="button" class="btn btn-primary">
                        <i class="fas fa-align-justify"></i>
                    </button> рядом с поиском
                    и выберите магазин/магазины
            <strong>
                <i id="target_warning_icon" class="fas fa-times" style="margin-left: 30px; float: right; cursor: pointer"></i>
            </strong>
        </p>
    </div>
</div>


    <!-- START -->
    <div style="width: 70%; margin: 0 auto">

        <!-- Navbar-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light mt-4"
             style="box-shadow: None; ">
          <div class="container-fluid justify-content-between">
            <!-- Left elements -->
            <div class="d-flex" style="margin-right: 20px;">
              <!-- Brand -->
                <a href="/">
                    <img
                      src="{{ form.data.image_PS }}"
                      height="65"
                      alt="PS Logo"
                      loading="lazy"
                    />
                </a>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#exampleModal"
                        style="height: 5%;    margin-top: 15px;  margin-left: 10px">
                  <i class="fas fa-align-justify"></i>
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Выберите магазин/магазины для поиска товаров</h5>
                        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                           {% for checkbox_name in form.data.checkbox_shops %}
                           <div class="form-check">
                               <input class="form-check-input" type="checkbox" value="" id="{{ checkbox_name }}">
                               <label class="form-check-label" for="{{ checkbox_name }}">
                                   {{ checkbox_name }}
                               </label>
                           </div>
                           {% endfor %}
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-mdb-dismiss="modal">ОК</button>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <!-- Left elements -->

            <!-- Center elements -->
            <form id="ParserForm" method="POST" class="d-flex" style="width: 100%">
                   {% csrf_token %}
                   {{ form.product  }}
                <button style="border: 1px solid #BDBDBD">
                    <span class="input-group-text border-0" id="search-addon">
                         <i class="fas fa-search"></i>
                     </span>
                </button>
            </form>
            <!-- Center elements -->

            <!-- Right elements -->
            <nav class="navbar-expand-lg navbar-light">
              <div class="container-fluid">
                <ul class="navbar-nav">
                  <!-- Badge -->
                  <li class="nav-item p-2" style="text-align: center">
                    <a class="nav-link" href="#">
                      <span class="badge badge-pill bg-danger">Войти</span>
                      <span><i class="far fa-user"></i></span>
                        <span>Пользователь</span>
                    </a>
                  </li>
                    <li class="nav-item p-2" style="text-align: center">
                        <a class="nav-link" href="#">
                          <span class="badge badge-pill bg-danger">0</span>
                          <span><i class="far fa-heart"></i></span>
                            <span>Избранное</span>
                        </a>
                  </li>

                     <li class="nav-item p-2" style="text-align: center">
                    <a class="nav-link" href="#">
                      <span class="badge badge-pill bg-danger">0</span>
                      <span><i class="fas fa-shopping-cart"></i></span>
                        <span>Корзина</span>
                    </a>
                  </li>

                    <li class="nav-item p-2" style="text-align: center">
                        <a class="nav-link" href="#">
                          <span class="badge badge-pill bg-danger">0</span>
                          <span><i class="fas fa-cube"></i></span>
                            <span>Заказы</span>
                        </a>
                  </li>
                </ul>
              </div>
            </nav>
            <!-- Right elements -->

          </div>
        </nav>
        <!-- Navbar -->

       <div id="GlobalData">
           <!-- Carousel wrapper -->
                <div id="carouselExampleTouch" class="carousel slide" data-mdb-touch="false">
                      <div class="carousel-indicators">
                        <button
                          type="button"
                          data-mdb-target="#carouselExampleTouch"
                          data-mdb-slide-to="0"
                          class="active"
                          aria-current="true"
                          aria-label="Slide 1"
                        ></button>
                        <button
                          type="button"
                          data-mdb-target="#carouselExampleTouch"
                          data-mdb-slide-to="1"
                          aria-label="Slide 2"
                        ></button>
                        <button
                          type="button"
                          data-mdb-target="#carouselExampleTouch"
                          data-mdb-slide-to="2"
                          aria-label="Slide 3"
                        ></button>
                      </div>
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <img src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp" class="d-block w-100" alt="Wild Landscape"/>
                          <div class="carousel-caption d-none d-md-block">
                            <h5>First slide label</h5>
                            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                          </div>
                        </div>
                        <div class="carousel-item">
                          <img src="https://mdbcdn.b-cdn.net/img/new/slides/042.webp" class="d-block w-100" alt="Camera"/>
                          <div class="carousel-caption d-none d-md-block">
                            <h5>Second slide label</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                          </div>
                        </div>
                        <div class="carousel-item">
                          <img src="https://mdbcdn.b-cdn.net/img/new/slides/043.webp" class="d-block w-100" alt="Exotic Fruits"/>
                          <div class="carousel-caption d-none d-md-block">
                            <h5>Third slide label</h5>
                            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                          </div>
                        </div>
                      </div>
                      <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleTouch" data-mdb-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleTouch" data-mdb-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div>
                <!-- Carousel wrapper -->



               <div class="d-flex flex-wrap" style="margin-top: 15px; justify-content: center">
                    <div class="card box-shadow" style="width: 300px;margin: 20px;">
                      <div class="card-body" style="display: flex; flex-direction: column; justify-content: space-between;">
                        <h5 class="card-title">Новые возможности</h5>
                        <p class="card-text">Ты можешь указать товар, который хочешь и желаемую цену, и когда такой товар появится в магазинах мы тебя оповестим!</p>
                        <button type="button" class="btn btn-primary">Попробуй</button>
                      </div>
                    </div>
                   <div class="card box-shadow" style="width: 300px;margin: 20px;">
                      <div class="card-body" style="display: flex;flex-direction: column;justify-content: space-between;">
                        <h5 class="card-title">Специальное предложение</h5>
                        <p class="card-text">Ты можешь купить товар у нас - и тогда тебе будет скидка от 100 рублей!</p>
                        <button type="button" class="btn btn-primary">В корзину</button>
                      </div>
                    </div>
               </div>

        </div>



        <div id="Loader" class="flex-wrap disable" role="status" style="text-align: center; margin-top: 300px">
            <div class="spinner-grow text-primary" role="status" style="margin: 5px; width: 20px; height: 20px">
                <span class="visually-hidden"></span>
            </div>
            <div class="spinner-grow text-secondary" role="status" style="margin: 5px; width: 20px; height: 20px">
                <span class="visually-hidden"></span>
            </div>
            <div class="spinner-grow text-success" role="status" style="margin: 5px; width: 20px; height: 20px">
                <span class="visually-hidden"></span>
            </div>
        </div>


    <div class="mt-4">
        <div id="SuccessContent"></div>
    </div>

    </div>
    <!-- END -->



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script>
          $(document).ready(function () {
              // отслеживаем событие отправки формы
              $('#ParserForm').submit(function (e) {
                   e.preventDefault()

                  // Нахожу checkbox в статусе true
                  let checked = document.querySelectorAll("input[type=checkbox]:checked")

                  if (Boolean(!checked.length)){
                      $("#WarningsContent").removeClass('disable')
                          {#[0].querySelector('p').append("Нажмите на кнопку - ")#}
                       return
                  }

                  // Обновляю данные
                  $('#SuccessContent').empty();
                  $('#ErrorContent').empty();
                  $('#GlobalData').empty();


                  var product = $('#id_product').val()


                  $('#Search').addClass('disable_cursor').removeClass('btn btn-success')

                   $.each(checked,function(index,value){
                       $('#Loader').removeClass('disable')
                       $.ajax (
                      {
                          url: 'collect/',
                          type: 'GET',
                          data: {
                              'product': product,
                              'checker': value.id,
                          },
                          success: function (html) {
                              if (html['error']){
                                  $("#SuccessContent").append(html['error'])
                              }
                              else{
                                  $("#SuccessContent").append(html)
                              }
                          },
                          error: function (error) {
                              $("#ErrorContent").removeClass('disable')[0].querySelector('p').append(error)
                          },
                          complete: function(data) {
                              $('#Search').addClass('btn btn-success').removeClass('disable_cursor')
                              $('#Loader').addClass('disable')
                          }
                      })
                   })
              });






              $( "#target_error_icon" ).click(function() {
                  $("#ErrorContent").addClass('disable')
                    });

            $( "#target_warning_icon" ).click(function() {
                 $("#WarningsContent").addClass('disable')
                     });
          })
      </script>
    </body>
</html>